<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/partials.css">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <section class="header">
            <header>
                <div class="logo">
                    <a href="#"><img src="../assets/img/resources/logo.png" alt=""></a>
                </div>
                <div class="menu">
                        <a href="#" class="menu-trigger"><i class="fas fa-bars"></i></a>
                    </div>
                <nav>
                    <ul class="main-nav">
                        <li>
                            <a class="main-nav__home img-rounded" href="#">Home</a>
                        </li>
                        <li>
                            <a class="main-nav__rank img-rounded" href="#"> Rank</a>
                        </li>
                        <li>
                            <a class="main-nav__lib img-rounded" href="#">Thư viện</a>
                        </li>
                        <li>
                            <a class="main-nav__event img-rounded" href="#"> Sự kiện</a>
                        </li>
                        <li>
                            <a class="main-nav__exam img-rounded" href="#">Vào thi</a>
                        </li>
                        <li>
                            <a class="main-nav__contact img-rounded " href="#">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
                
            </header>
        </section>
    </div>
    <script src="../js/partials.js"></script>
</body>

</html>